<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="input-with-label text-left">
                <span>Name</span>
				{{input type='text' class='mb0' value=name placeholder=model.name insert-newline="updateNameInformation"}}
			</div>
			<div class="input-with-label text-left">
                <span>Email Address</span>
				{{input type='text' class='mb0' value=email placeholder=model.email insert-newline="updateEmailInformation" }}
			</div>
			<div class="input-with-label text-left">
                <span>Payment</span>
				{{input type='text' class='mb0' value=payment placeholder=model.payment insert-newline="updatePaymentInformation" }}
			</div>
			<div class="input-with-label text-left">
                <span>Phone</span>
				{{input type='text' class='mb0' value=phone placeholder=model.phone insert-newline="updatePhoneInformation"}}
			</div>
			<div class="input-with-label text-left">
                <span>Address</span>
				{{input type='text' class='mb0' value=address placeholder=model.address insert-newline="updateAddressInformation"}}
			</div>
		</div>
	</div>
</div>