<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">	
        	<ul class="b0">
        		<li class="mb8">
		        	<h5 class="uppercase inline-block mb0">Name /&nbsp;</h5>
					<span>{{model.name}}</span>
				</li>
        		<li class="mb8">
		        	<h5 class="uppercase inline-block mb0">Email /&nbsp;</h5>
					<span>{{model.email}}</span>
				</li>
        		<li class="mb8">
		        	<h5 class="uppercase inline-block mb0">Payment /&nbsp;</h5>
					<span>{{model.payment}}</span>
				</li>				
        		<li class="mb8">
		        	<h5 class="uppercase inline-block mb0">Phone /&nbsp;</h5>
					<span>{{model.phone}}</span>
				</li>				
        		<li class="mb8">
		        	<h5 class="uppercase inline-block mb0">Address /&nbsp;</h5>
					<span>{{model.address}}</span>
				</li>			
			</ul>
			{{#link-to 'portal.about.edit'class='btn btn-sm'}}Update Information{{/link-to}}            
        </div>
        {{outlet}}
    </div>  			

</div>
