 <div class="container">
	 <div class="row">
	 	<div class="col-sm-12 text-center">
			<button class="btn btn-sm " {{action "sortBy" "storename"}}>Storename</button>
			<button class="btn btn-sm "  {{action "sortBy" "timestampcreated.timestamp"}}>Date</button>
			<button class="btn btn-sm "  {{action "sortBy" "receiptid"}}>Receiptid</button>
	 	</div>
	 </div>
	<div class="row">
	    <div class="col-sm-12 text-center">
	        <ul class="accordion accordion-1 one-open">
	        	{{#each arrangedContent as |receipt|}}
					{{#active-link}}
	        			{{#link-to "portal.receipts.show" receipt.receiptid}}
			                <div class="title individual-receipt">
			                    <span class="receipt-span">{{format-epoch receipt.timestampcreated.timestamp}}  -  {{receipt.storename}}</span>
			                </div>
				            <div class="content">
				            	{{outlet}}
				            </div>
    		            {{/link-to}}
					{{/active-link}}
		        {{/each}}
	        </ul>
	        <!--end of accordion-->
	    </div>
	</div>
</div>






