<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
		{{#each model as |receipt|}}
		<ul>
		  <li>{{receipt.storeid}}</li>
		  <li>{{receipt.storename}}</li>
		  <li>{{receipt.total}}</li>
		  {{#link-to "portal.receipts.show" receipt.id}}
		  <li>{{receipt.id}}</li>
		  {{/link-to}}
		</ul>
		{{/each}}                
		<hr class="mb160 mb-xs-24">
        </div>
    </div>  			
    <div class="row">
    	{{outlet}}
    </div>
</div>






